<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="Resources.Listener"></listener>
</listeners>
  <test thread-count="5" name="Regression test cases">
    <classes>
      <class name="TestCases.loginTestCases"/>
    </classes>
    </test> <!-- Test -->
    
    <test  name="Smoke test cases" >
     <classes>
     <class name="TestCases.fillMyInfoTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

 